aside{
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    background-color: rgb(251, 251, 255);
}

.sidebarWrapper{
    height: 100%;
    width: 100%;
    padding: 2rem;
    color: #555;
    @include flex(column, space-evenly, flex-start);
}

.sidebarMenu{
    margin-bottom: 1rem;
    width: 100%;
    h3{
        color: rgb(186, 186, 186);
    }
    .sidebarList{
        padding: 5px;
        margin: 5px 0;
        .sidebarListItem{
            padding: 5px;
            cursor: pointer;
            @include flex(row, flex-start, center);
            border-radius: 10px;
            &.active,
            &:hover{
                background-color: rgb(216, 216, 216);
            }
        }
    }
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}