//Setting our variables

//Colors
$main-color: purple;
$secondary-color: white;
$highlight-color: rgba(0, 0, 0, 0.5);

//Font sizes
$h1: 3.2rem;
$h2: 3rem;
$h3: 2.8rem;
$h4: 1.8rem;
$h5: 1.6rem;
$h6: 1.4rem;