//defining our mixins
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//import our base css
@import './abstract/variables';
@import './base/global';


//Adding css to our App.js
.App{
    .container{
        @include flex(row, flex-start, flex-start);
    }
}

//import our components' styling
@import './components/Topbar';
@import './components/Sidebar';
@import './components/FeaturedInfo';

//import our pages' styling
@import './pages/Home';
